.child-check{
  margin-left: 15px;
  display: none;
}

.child-check.active{
  display: block;
}

label {
    padding-left: 5px;
}

tbody{height: 400px; overflow-y: scroll;}
th { position: sticky; top: 0; }