{% from "facet.html" import render_facet with context %}

<form id="theme" method="get">
    {% include "full-text-search.html" %}

    <hr>

    {% include "bioregion.html" %}

    <hr>

    {% include "theme.html" %}

    <hr>

    <div class="pb-3">
        <div class="card">
            <div class="card-body">
                <h3>Disturbance Properties <i class="fas fa-tree"></i></h3>
                {{ render_facet('Disturbance Type', 'disturbance_type') }}
            </div>
        </div>

        <hr>

        <div class="card">
            <div class="card-body">
                <h3>Observed Properties</h3>

                <hr>

                <div class="checkbox">
                    <label><input type="checkbox" name="op" value="disturbance_proportion" {% if 'disturbance_proportion' in ops %}checked{% endif %}>Disturbance Proportion</label>
                    <br>
                </div>
                {{ render_facet('Disturbance Proportion Result', 'disturbance_proportion_result') }}
                {{ render_facet('Disturbance Proportion Method', 'disturbance_proportion_method') }}

                <hr>

                <div class="checkbox">
                    <label><input type="checkbox" name="op" value="disturbance_age" {% if 'disturbance_age' in ops %}checked{% endif %}>Disturbance Age</label>
                    <br>
                </div>
                {{ render_facet('Disturbance Age Result', 'disturbance_age_result') }}
                {{ render_facet('Disturbance Age Method', 'disturbance_age_method') }}

                <hr>

                <div class="checkbox">
                    <label><input type="checkbox" name="op" value="disturbance_height" {% if 'disturbance_height' in ops %}checked{% endif %}>Disturbance Height</label>
                    <br>
                </div>
                {{ render_facet('Disturbance Height Result', 'disturbance_height_result') }}
                {{ render_facet('Disturbance Height Method', 'disturbance_height_method') }}

                <hr>

                <div class="checkbox">
                    <label><input type="checkbox" name="op" value="disturbance_grazing_level" {% if 'disturbance_grazing_level' in ops %}checked{% endif %}>Disturbance Grazing Level</label>
                    <br>
                </div>
                {{ render_facet('Disturbance Grazing Level Result', 'disturbance_grazing_level_result') }}
                {{ render_facet('Disturbance Grazing Level Method', 'disturbance_grazing_level_method') }}

                <hr>

                <div class="checkbox">
                    <label><input type="checkbox" name="op" value="disturbance_erosion" {% if 'disturbance_erosion' in ops %}checked{% endif %}>Disturbance Erosion</label>
                    <br>
                </div>
                {{ render_facet('Disturbance Erosion Result', 'disturbance_erosion_result') }}
                {{ render_facet('Disturbance Erosion Method', 'disturbance_erosion_method') }}

                <hr>

                <div class="checkbox">
                    <label><input type="checkbox" name="op" value="disturbance_erosion_severity" {% if 'disturbance_erosion_severity' in ops %}checked{% endif %}>Disturbance Erosion Severity</label>
                    <br>
                </div>
                {{ render_facet('Disturbance Erosion Severity Result', 'disturbance_erosion_severity_result') }}
                {{ render_facet('Disturbance Erosion Severity Method', 'disturbance_erosion_severity_method') }}

                <hr>

                <div class="checkbox">
                    <label><input type="checkbox" name="op" value="disturbance_stumps_count" {% if 'disturbance_stumps_count' in ops %}checked{% endif %}>Disturbance Stumps Count</label>
                    <br>
                </div>
                {{ render_facet('Disturbance Stumps Count Method', 'disturbance_stumps_count_method') }}

                <hr>

                <div class="checkbox">
                    <label><input type="checkbox" name="op" value="disturbance_ringbarked_stem_count" {% if 'disturbance_ringbarked_stem_count' in ops %}checked{% endif %}>Disturbance Ringbarked Stem Count</label>
                    <br>
                </div>
                {{ render_facet('Disturbance Ringbarked Stem Count Method', 'disturbance_ringbarked_stem_count_method') }}
            </div>
        </div>
    </div>



    <button type="submit" class="btn btn-primary mb-2">Search</button>

    <hr>
</form>
