{% from "facet.html" import render_facet with context %}

<form id="theme" method="get">
    {% include "full-text-search.html" %}

    <hr>

    {% include "bioregion.html" %}


    <hr>

    {% include "theme.html" %}

    <hr>

    <div class="card">
        <div class="card-body">
            <div class="pb-3">
            <h3>Site Properties <i class="fas fa-tree"></i></h3>
            {{ render_facet('Floristics Type', 'site_floristics_type') }}
            {{ render_facet('Site Level', 'site_sample_level') }}
            {{ render_facet('Site Type', 'site_sample_type') }}
        </div>
        </div>
    </div>

    <hr>

    <div class="card">
        <div class="card-body">
            <div class="pb-3">
                <h3>Location Properties <i class="fas fa-map-marked-alt"></i></h3>
                {{ render_facet('Mapscale Type', 'location_mapscale') }}
                {{ render_facet('Location Method', 'location_method') }}
            </div>
        </div>
    </div>

    <hr>

    <button type="submit" class="btn btn-primary mb-2">Search</button>

    <hr>
</form>
