{% macro render_facet(title, fieldname) %}
    <h6 class="pt-1">{{ title }}

        <select class="faceted-search d-inline" name="{{ fieldname }}" multiple="multiple" style="width: 100%;">
            {% for value in controlled_fields[fieldname] %}
                {% if value['uri'] in selected_values[fieldname] %}
                    <option selected="selected" value="{{ value['uri'] }}">{{ value['label'] }}</option>
                {% else %}
                    <option value="{{ value['uri'] }}">{{ value['label'] }}</option>
                {% endif %}
            {% endfor %}
        </select>

    </h6>
{% endmacro %}