{% from "facet.html" import render_facet with context %}

<form id="theme" method="get">
    <h2>Theme <i class="fas fa-cheese"></i></h2>
    <div class="radio">
        <label>
            <input type="radio" name="theme" id="site" value="site" checked>
            Site and location context
        </label>
    </div>

    <div class="radio">
        <label>
            <input type="radio" name="theme" id="disturbance" value="disturbance">
            Disturbance
        </label>
    </div>

    <div class="form-group mb-2">

        <label class="pr-2">Full Text Search: <i class="fas fa-search"></i></label>
        <input type="text" class="form-control" name="query" placeholder="Example: helicopter" value="{{ query }}">

    </div>

    <hr>

    <div class="pb-3">
        <h3>Location Properties <i class="fas fa-map-marked-alt"></i></h3>
        {{ render_facet('Bioregions', 'location_bioregion') }}
        {{ render_facet('Mapscale Type', 'location_mapscale') }}
        {{ render_facet('Location Method', 'location_method') }}
    </div>

    <hr>

    <div class="pb-3">
        <h3>Site Properties <i class="fas fa-tree"></i></h3>
        {{ render_facet('Floristics Type', 'site_floristics_type') }}
        {{ render_facet('Site Level', 'site_sample_level') }}
        {{ render_facet('Site Type', 'site_sample_type') }}
    </div>

    <hr>

<!--    <div class="pb-3">-->
<!--        <h3>Observation Properties</h3>-->
<!--        {{ render_facet('Observation Group', 'ogroup') }}-->
<!--        {{ render_facet('Observable Property', 'op') }}-->
<!--        {{ render_facet('Method', 'method') }}-->
<!--        {{ render_facet('Result', 'result') }}-->
<!--    </div>-->

    <button type="submit" class="btn btn-primary mb-2">Search</button>

    <hr>
</form>

<script>
    $(document).ready(function() {  // wait until the document has loaded

  $('input[name=theme]').change(function(e){  // monitor the input element with a name of selectedfaucet
      var id = e.currentTarget.id;

        // $('form').attr('action', '/' + id).submit(); // if there is a change of value then submit the form
      // $('form').attr('action', '/').submit();
      document.forms['theme'].submit();

  }); // end input change function

  }); // end document loaded function

</script>