<div class="form-group mb-2">
    <div class="card">
        <div class="card-body">
            <label class="pr-2">Full Text Search: <i class="fas fa-search"></i></label>
            <input type="text" class="form-control" name="query" placeholder="Example: helicopter" value="{{ query }}">
        </div>
    </div>
</div>