<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <link rel="stylesheet" href="static/css/bootstrap.css">
        <link rel="stylesheet" href="static/css/bootstrap-grid.css">
        <link rel="stylesheet" href="static/css/bootstrap-reboot.css">
        <link rel="stylesheet" href="static/css/index.css">
        <link rel="stylesheet" href="static/css/select2.css">

        <title>{{ title }}</title>
    </head>
    <body class="container">
        <div class="jumbotron">
            <h1 class="display-4">{{ title }}</h1>
            <p class="lead">{{ p1 }}</p>
            <hr class="my-4">
            <p>{{ p2 }}</p>
<!--            <a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a>-->
        </div>

        <form class="" method="get">
            <div class="form-group mb-2">

                <label class="pr-2">Search:</label>
                <input type="text" class="form-control" name="query" value="{{ query }}">

            </div>

            {% for field in faceted_field_values %}
                <div class="pb-3">
                    <h3>{{ field }}</h3>
                    <select class="faceted-search" name="{{ field }}" multiple="multiple" style="width: 100%;">
                        {% for value in faceted_field_values[field] %}
                            {% if value['key'] in selected_values %}
                                <option selected="selected" value="{{ value['key'] }}">{{ value['label'] }}</option>
                            {% else %}
                                <option value="{{ value['key'] }}">{{ value['label'] }}</option>
                            {% endif %}
                        {% endfor %}
                    </select>
                </div>
            {% endfor %}

            <button type="submit" class="btn btn-primary mb-2">Submit</button>
        </form>

        {% if query %}
            <p><em>Results for search: <strong>{{ query }}</strong></em></p>
        {% endif %}

        <p><em>Search completed in {{ took }} milliseconds.</em></p>
        <p><em>Found {{ total }} records.</em></p>

        {% if rows %}
            <p><em>Displaying {{ paginate_from + 1 }}-{{ (paginate_from + paginate_size) if (paginate_from + paginate_size) < total else total }} records</em></p>
        {% endif %}

        <div class="table-responsive">
            <table class="table table-hover table-sm table-striped"><thead class="thead-dark"><tr>
                <th scope="col"></th>
                {% for header in headers %}
                        <th scope="col">{{ header }}</th>
                {% endfor %}
                </tr></thead>

                {% if rows %}
                    <tbody>
                        {% for row in rows %}
                        <tr>
                            <th scope="row">{{ loop.index + paginate_from }}</th>
                            {% for header in headers %}
                                <td>{{ render(row['_source'][header]) }}</td>
                            {% endfor %}
                        </tr>
                    {% endfor %}
                    </tbody>
                {% else %}
                    <em><strong>No results found.</strong></em>
                {% endif %}
            </table>
        </div>


    </body>

    <script src="static/js/jquery-3.4.1.min.js"></script>
    <script src="static/js/bootstrap.bundle.js"></script>
    <script src="static/js/bootstrap.js"></script>
    <script src="static/js/select2.js"></script>

    <script>
         $(document).ready(function() {
            $('.faceted-search').select2();
        });
    </script>
</html>