<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="static/css/bootstrap.css">
        <link rel="stylesheet" href="static/css/bootstrap-grid.css">
        <link rel="stylesheet" href="static/css/bootstrap-reboot.css">
        <link rel="stylesheet" href="static/css/index.css">
        <link rel="stylesheet" href="static/css/select2.css">

        <link rel="stylesheet" href="static/css/material-fonts">

        <link rel="stylesheet" href="static/css/font-awesome/all.min.css">
        <link rel="stylesheet" href="static/css/font-awesome/brands.min.css">
        <link rel="stylesheet" href="static/css/font-awesome/fontawesome.min.css">
        <link rel="stylesheet" href="static/css/font-awesome/regular.min.css">
        <link rel="stylesheet" href="static/css/font-awesome/solid.min.css">
        <link rel="stylesheet" href="static/css/font-awesome/svg-with-js.min.css">
        <link rel="stylesheet" href="static/css/font-awesome/v4-shims.min.css">

        <script src="static/js/popper.min.js"></script>
        <script src="static/js/jquery-3.4.1.min.js"></script>

        <title>{{ title }}</title>
    </head>
    <body>

        {% include "nav.html" %}

        <div class="row" style="max-width: 100%;">
            <div class="col-lg-3" style="max-height: 90vh; width: 400px; overflow: scroll;">
                <div class="container">

                    <div class="jumbotron">
                        <h1 class="display-4">{{ title }}</h1>
                        <p class="lead">{{ p1 }}</p>
                        <hr class="my-4">
                        <p>{{ p2 }}</p>
            <!--            <a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a>-->
                    </div>

                    {% if theme == 'site' %}
                        {% include "forms/form-site.html" %}
                    {% elif theme == 'disturbance' %}
                        {% include "forms/form-disturbance.html" %}
                    {% endif %}


                </div>
            </div>
            <div class="col-lg-9">
                <div class="container-fluid">
                    <div class="pt-3">
                        {% if query %}
                            <p><em>Results for search: <strong>{{ query }}</strong></em></p>
                        {% endif %}

                        <p><em>Search completed in {{ took }} milliseconds.</em></p>
                        <p><em>Found {{ total }} records.</em> {% if total == 10000 %}<button type="button" class="btn btn-light d-inline" data-toggle="popover" data-trigger="focus" title="Information" data-content="Elasticsearch has a hard-limit on retrieving 10000 documents per search on an index. Most likely there were more than 10000 documents which matched the search query. <br><br>Will need to utilise Elasticsearch's Scroll API in the future to retrieve the full set of documents which matched the search query above." data-html="true"><i class="fas fa-info-circle"></i></button>{% endif %}</p>


                        {% if rows %}
                            <p><em>Displaying {{ paginate_from + 1 }}-{{ (paginate_from + paginate_size) if (paginate_from + paginate_size) < total else total }} records</em></p>
                        {% endif %}
                    </div>

                    {% include "pagination.html" %}

                    {% include "table.html" %}

                </div>
            </div>
        </div>




    </body>

    <script src="static/js/select2.js"></script>
    <script src="static/js/bootstrap.bundle.js"></script>
    <script src="static/js/bootstrap.js"></script>
    <script src="static/js/bootstrap-material-design.js"></script>
    <script>$(document).ready(function() { $('body').bootstrapMaterialDesign(); });</script>

    <script>

        // Select2
         $(document).ready(function() {
            $('.faceted-search').select2();
        });

         // Bootstrap 4 Popovers
         $(function () {
          $('[data-toggle="popover"]').popover()
        })

    </script>
</html>