<nav aria-label="Page navigation example">
    <hr>
    <class class="container">
        <div class="row">
            <div class="col">
                <ul class="pagination">
                    <li class="page-item {% if page == 1 %}disabled{% endif %}"><a class="page-link" href="{{ h.format_pagination_url(request.url, page - 1) }}">Previous</a></li>

                    {% if page - 4 > 0 %}
                        <li class="page-item"><a class="page-link" href="{{ h.format_pagination_url(request.url, page - 4) }}">{{ page - 4 }}</a></li>
                    {% endif %}
                    {% if page - 3 > 0 %}
                        <li class="page-item"><a class="page-link" href="{{ h.format_pagination_url(request.url, page - 3) }}">{{ page - 3 }}</a></li>
                    {% endif %}
                    {% if page - 2 > 0 %}
                        <li class="page-item"><a class="page-link" href="{{ h.format_pagination_url(request.url, page - 2) }}">{{ page - 2 }}</a></li>
                    {% endif %}
                    {% if page - 1 > 0 %}
                        <li class="page-item"><a class="page-link" href="{{ h.format_pagination_url(request.url, page - 1) }}">{{ page - 1 }}</a></li>
                    {% endif %}


                    <li class="page-item disabled"><a class="page-link" href="{{ h.format_pagination_url(request.url, page) }}">{{ page }}</a></li>
                    {% if page < h.get_total_pages(total, paginate_size) %}
                    <li class="page-item"><a class="page-link" href="{{ h.format_pagination_url(request.url, page + 1) }}">{{ page + 1}}</a></li>
                    {% endif %}
                    {% if page + 1 < h.get_total_pages(total, paginate_size) %}
                    <li class="page-item"><a class="page-link" href="{{ h.format_pagination_url(request.url, page + 2) }}">{{ page + 2}}</a></li>
                    {% endif %}
                    {% if page + 2 < h.get_total_pages(total, paginate_size) %}
                    <li class="page-item"><a class="page-link" href="{{ h.format_pagination_url(request.url, page + 3) }}">{{ page + 3}}</a></li>
                    {% endif %}
                    {% if page + 3 < h.get_total_pages(total, paginate_size) %}
                    <li class="page-item"><a class="page-link" href="{{ h.format_pagination_url(request.url, page + 4) }}">{{ page + 4}}</a></li>
                    {% endif %}
                    <li class="page-item {% if h.get_total_pages(total, paginate_size) <= page %}disabled{% endif %}"><a class="page-link" href="{{ h.format_pagination_url(request.url, page + 1) }}">Next</a></li>
                </ul>
            </div>

            <div class="col-sm-4 col-md-4 col-lg-6"></div>

            <div class="col">
<!--                <button type="button" class="btn btn-primary disabled" data-toggle="popover" data-trigger="focus" title="Coming Soon!" data-content="Data will be made available for download as CSV shortly in the future.">Download Data <i class="fas fa-file-csv"></i></button>-->
                <button type="button" class="btn btn-primary" onclick="window.location.href='{{ download_url }}';">Download Data <i class="fas fa-file-csv"></i></button>
            </div>
        </div>
    </class>
</nav>