<div class="table-responsive" style="max-height: 60vh;">
    <table class="table table-hover table-striped table-bordered"><thead class="thead-dark"><tr>
        <th scope="col"></th>
        {% for header in headers %}
                <th scope="col">{{ header }}</th>
        {% endfor %}
        </tr></thead>

        {% if rows %}
            <tbody>
                {% for row in rows %}
                <tr>
                    <th scope="row">{{ loop.index + paginate_from }}</th>
                    {% for header in headers %}
                        <td>{{ h.render(row['_source'][header])|safe }}</td>
                    {% endfor %}
                </tr>
            {% endfor %}
            </tbody>
        {% else %}
            <em><strong>No results found.</strong></em>
        {% endif %}
    </table>
</div>