<div class="card">
    <div class="card-body">
        <h2>Themes <i class="fas fa-cheese"></i></h2>
        <div class="radio">
            <label>
                <input type="radio" name="theme" id="site" value="site" {% if theme == 'site' %}checked{% endif %}>
                Site and location context
            </label>
        </div>

        <div class="radio">
            <label>
                <input type="radio" name="theme" id="disturbance" value="disturbance" {% if theme == 'disturbance' %}checked{% endif %}>
                Disturbance
            </label>
        </div>
    </div>
</div>

<script>
    $(document).ready(function() {

        // Monitor input fields with name="theme" and form id="theme"
        $('input[name=theme]').change(function(e){
            document.forms['theme'].submit();
        });

        // Monitor input fields with name="op" and form id="theme"
        $('input[name=op]').change(function(e) {
            document.forms['theme'].submit()
        })

    });

</script>